:root {
  --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Poppins", sans-serif;
}

/* Colors */
:root {
  --color-default: #0a0d13;
  --color-primary: #0d42ff;
  --color-secondary: #0e1d34;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-default);
  color: var(--color-default);
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-primary);
  text-decoration: none !important;
}

a:hover {
  color: #406aff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

section {
  padding: 80px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding: 30px 0;
  position: relative;
}

.section-header h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0;
  padding-bottom: 0;
  color: #001973;
  position: relative;
  z-index: 2;
  position: relative;
}

.release-header h2 {
  color: #000;
}

.section-header h2 b {
  color: #e6825e;
  font-weight: 500;
}

.section-header span {
  position: absolute;
  top: 46px;
  color: rgba(14, 29, 52, 0.06);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 0;
}

.section-header p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}

@media (max-width: 640px) {
  .section-header h2 {
    font-size: 28px;
    margin-bottom: 15px;
  }

  .section-header span {
    font-size: 38px;
  }
}

.contact {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #101e2b;
  color: #fff;
  padding: 10px;
  z-index: 997;
}

.contact .contact-wrapper {
  display: flex;
  justify-content: flex-end;
}

.contact .contact-wrapper h3 {
  font-family: var(--font-primary);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.contact i {
  border-radius: 50%;
  border: 1px solid;
  padding: 5px;
  font-size: 10px;
  margin-right: 10px;
}

.header {
  transition: all 0.5s;
  z-index: 997;
  padding: 14px 0;
  background-color: #fff;
  position: fixed;
  width: 100%;
}

.header.sticked {
  background: rgba(14, 29, 52, 0.9);
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(14, 29, 52, 0.1);
}

.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.header .logo h1 {
  font-size: 30px;
  margin: 0;
  font-weight: 700;
  color: #c1c1c1;
  font-family: var(--font-primary);
  border: 1px solid;
  padding: 10px;
  background: white;
}

/*--------------------------------------------------------------
# Desktop Navigation
--------------------------------------------------------------*/
@media (min-width: 1280px) {
  .navbar {
    padding: 0;
  }

  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 400;
    color: #000;
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .get-a-quote,
  .navbar .get-a-quote:focus {
    background: #16a3db;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
  }

  .navbar .get-a-quote:hover,
  .navbar .get-a-quote:focus:hover {
    color: #fff;
    background: #2756ff;
  }

  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
  }

  .navbar .dropdown ul li {
    min-width: 200px;
  }

  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    font-weight: 400;
    color: var(--color-secondary);
  }

  .navbar .dropdown ul a i {
    font-size: 12px;
  }

  .navbar .dropdown ul a:hover,
  .navbar .dropdown ul .active:hover,
  .navbar .dropdown ul li:hover>a {
    color: var(--color-primary);
  }

  .navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }

  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }

  .navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
}

@media (min-width: 1280px) and (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

@media (min-width: 1280px) {

  .mobile-nav-show,
  .mobile-nav-hide {
    display: none;
  }
}

/*--------------------------------------------------------------
# Mobile Navigation
--------------------------------------------------------------*/
@media (max-width: 1279px) {
  .navbar {
    position: fixed !important;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 400px;
    bottom: 0;
    transition: 0.3s;
    z-index: 9997;
  }

  .navbar ul {
    position: absolute;
    inset: 0;
    padding: 50px 0 10px 0;
    margin: 0;
    background: rgba(14, 29, 52, 0.9);
    overflow-y: auto;
    transition: 0.3s;
    z-index: 9998;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px;
    font-family: var(--font-primary);
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.3s;
  }

  .navbar a i,
  .navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #fff;
  }

  .navbar .get-a-quote,
  .navbar .get-a-quote:focus {
    background: var(--color-primary);
    padding: 8px 20px;
    border-radius: 4px;
    margin: 15px;
    color: #fff;
  }

  .navbar .get-a-quote:hover,
  .navbar .get-a-quote:focus:hover {
    color: #fff;
    background: rgba(13, 66, 255, 0.8);
  }

  .navbar .dropdown ul,
  .navbar .dropdown .dropdown ul {
    position: static;
    display: none;
    padding: 10px 0;
    margin: 10px 20px;
    transition: all 0.5s ease-in-out;
    border: 1px solid #19335c;
  }

  .navbar .dropdown>.dropdown-active,
  .navbar .dropdown .dropdown>.dropdown-active {
    display: block;
  }

  .mobile-nav-show {
    color: #000;
    font-size: 28px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    z-index: 9999;
    margin-right: 10px;
  }

  .mobile-nav-hide {
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    line-height: 0;
    transition: 0.5s;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 9999;
  }

  .mobile-nav-active {
    overflow: hidden;
  }

  .mobile-nav-active .navbar {
    right: 0;
  }

  .mobile-nav-active .navbar:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(14, 29, 52, 0.8);
    z-index: 9996;
  }
}

.hero {
  width: 100%;
  min-height: 50vh;
  background-color: #101e2b;
  background-size: cover;
  background-position: center;
  position: relative;
  padding: 120px 0 60px 0;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}

.hero h2 {
  margin-bottom: 20px;
  padding: 0;
  font-size: 38px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 575px) {
  .hero h2 {
    font-size: 30px;
  }
}

.hero p {
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 30px;
}

.hero form {
  background: #fff;
  border-radius: 10px;
}

.hero form .form-control {
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  margin-right: 10px;
  border: none !important;
  background: none !important;
}

.hero form .form-control:hover,
.hero form .form-control:focus {
  outline: none;
  box-shadow: none;
}

.hero form .btn-primary {
  background-color: #16a3db;
  padding: 15px 30px;
}

.hero form .btn-primary:hover {
  background-color: #2756ff;
}

.hero .view-more {
  color: #e6825e;
  text-decoration: none;
  margin-bottom: 40px;
}

.hero b {
  color: #e6825e;
}

.hero i {
  color: black;
  font-size: 25px;
  margin: 11px;
}

.services .card {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
  border: none;
}

.services .carousel-wrapper {
  width: 85%;
  margin: auto;
}

.services .carousel-wrapper .carousel-control-next {
  right: -100px;
}

.services .carousel-wrapper .carousel-control-prev {
  left: -100px;
}

.services .carousel-wrapper .carousel-control-next .carousel-control-next-icon,
.services .carousel-wrapper .carousel-control-prev .carousel-control-prev-icon {
  border-radius: 50%;
  background-color: #16a3db;
}

@media (max-width: 575px) {
  .services .carousel-wrapper .carousel-control-next {
    right: -50px;
  }
  
  .services .carousel-wrapper .carousel-control-prev {
    left: -50px;
  }
}

.services .card .card-overlay {
  background: rgba(13,34,53,0.9);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.services .card:hover .card-overlay{
  opacity: 1;
}

.services .card:hover .card-img h3{
  opacity: 0;
}

.services .card-image{
  width: 100%;
  height: 22rem;
}

.services .card-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.services .card-img h3 {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 10px 30px;
  position: absolute;
  bottom: 0;
  background-color: rgba(13,34,53,0.9);
  width: 100%;
  color: white;
  text-align: center;
  opacity: 1;
}

.services .card:hover .card-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.services .card-details h3{
  font-weight: 500;
  font-size: 18px;
  margin: 0;
  padding: 10px 30px;
  width: 100%;
  color: white;
  text-align: center;
  opacity: 1;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

.services .card-details p{
  color: #fff;
  font-size: 0.8em;
}

.services .card-details button {
  background: transparent;
  border: 1px solid;
  border-radius: 0;
  margin-top: 20px;
}

.services .fadeIn-bottom{
  top: 80%;
}

.services .view-all {
  text-align: center;
  margin-top: 40px;
}

.services .view-all button {
  background-color: #16a3db;
  border-radius: 0;
  border: none;
  padding: 8px 25px;
}

.about .content h3 {
  font-weight: 500;
  font-size: 38px;
  font-family: var(--font-secondary);
  color: #000;
}

.about .content h3 span {
  color: #e6825e;
}

.about .content h3 p {
  margin-top: 20px;
}

.about .item {
  height: 250px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 20px;
}

.about .item i {
  font-size: 40px;
}

.about .col-lg-6:nth-child(1) .item{
  background-color: #bcf4f5;
}

.about .col-lg-6:nth-child(2) .item{
  background-color: #c6e3f3;
}

.about .col-lg-6:nth-child(3) .item{
  background-color: #ffeede;
}

.about .col-lg-6:nth-child(4) .item{
  background-color: #ffe7dd;
}

.about .counter-container {
  background-color: #f6f6f6;
  padding: 20px;
}

.about .counter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about .counter h1 {
  font-weight: 500;
  font-size: 38px;
  font-family: var(--font-secondary);
  color: #e6825e;
}

.about .counter h2 {
  font-weight: 300;
  font-size: 20px;
  font-family: var(--font-secondary);
  color: #000;
}

.about .counter div {
  width: 250px;
  border-right: 2px solid #e0e0e0;
}

.about .counter p {
  margin-left: 50px;
  margin-bottom: 0;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.about .content ul i {
  flex-shrink: 0;
  font-size: 48px;
  color: var(--color-primary);
  margin-right: 20px;
  line-height: 0;
}

.about .content ul h5 {
  font-size: 18px;
  font-weight: 700;
  color: #19335c;
}

.about .content ul p {
  font-size: 15px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(var(--color-primary) 50%, rgba(13, 66, 255, 0.4) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.about .play-btn:before {
  content: "";
  position: absolute;
  width: 120px;
  height: 120px;
  animation-delay: 0s;
  animation: pulsate-btn 2s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(13, 66, 255, 0.7);
  top: -15%;
  left: -15%;
  background: rgba(198, 16, 0, 0);
}

.about .play-btn:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.about .play-btn:hover:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  animation: none;
  border-radius: 0;
}

.about .play-btn:hover:after {
  border-left: 15px solid var(--color-primary);
  transform: scale(20);
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Releases Section
--------------------------------------------------------------*/

.release {
  background-color: #dcfeff;
}

.release h5 {
  font-weight: 200;
  font-size: 16px;
  font-family: var(--font-secondary);
  color: #91a2a1;
}

.release h2 {
  font-weight: 400;
  font-size: 24px;
  font-family: var(--font-secondary);
  color: #000;
}

.preview .card {
  position: relative;
  margin: auto;
  overflow: hidden;
  border: none;
  border-radius: 0;
}

.preview .card .overlay {
  background: rgba(49,114,195,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.preview .card:hover .overlay{
  opacity: 1;
}

.preview .overlay-details {
  position: absolute;
  background-color: #16a3db;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.preview .card:hover .overlay-details{
  left: 50%;
  opacity: 1;
  top: 94%;
}

.preview .overlay-details h3{
  font-weight: 200;
  font-size: 16px;
  margin: 0;
  padding: 10px 20px;
  width: 100%;
  color: white;
  opacity: 1;
}

.preview .fadeIn-bottom{
  top: 80%;
}

.help {
  background-color: #122333;
  text-align: center;
  padding: 42px;
  margin-top: 80px;
}

.help h3 {
  font-weight: 400;
  font-size: 30px;
  color: white;
}

.help h4 {
  font-weight: 300;
  font-size: 20px;
  color: white;
  margin-top: 20px;
}

.help span {
  color: #e6825e;
}

.notification .row input{
  border: none;
  border-bottom:1px solid #91a2a1;
  width: 102%;
  outline: none;
}

.notification select{
  border: none;
  border-bottom: 1px solid;
  width: 100%;
  font-weight: 200;
  font-size: 16px;
  font-family: var(--font-secondary);
  color: #91a2a1;
  outline: none;
}

.notification .row input::placeholder {
  font-weight: 200;
  font-size: 16px;
  font-family: var(--font-secondary);
  color: #91a2a1;
}

.notification .register {
  text-align: end;
  margin-top: 40px;
}

.notification .register button {
  background-color: #16a3db;
  border-radius: 0;
  border: none;
  padding: 8px 25px;
}

.footer {
  font-size: 14px;
  background-color: var(--color-secondary);
  padding: 50px 0 30px;
  color: white;
}

.footer p {
  font-size: 18px;
}

.footer input {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  padding: 15px 0;
  width: 90%;
}

.footer .register {
  position: absolute;
  left: 73%;
  background-color: #374248;
  border: none;
  border-radius: 0;
  font-size: 14px;
  top: 10px;
}

.footer input::placeholder {
  font-weight: 200;
  font-size: 16px;
  font-family: var(--font-secondary);
  color: #fff;
}

.footer .credit-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid;
  padding-top: 11px;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-info .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info p {
  font-size: 14px;
  font-family: var(--font-primary);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #fff;
  border-color: #fff;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
  border-bottom: 1px solid;
  width: 150px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(13, 66, 255, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #fff;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}